# Node modules
node_modules/

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.tsbuildinfo

# Build output
.next/
.next/cache/
out/
dist/
.cache/

# Scaffold/Temp folders
.scaffold/
temp/
tmp/

# System files
.DS_Store
Thumbs.db
*.swp
*.swo
*.bak
*.orig

# Environment files
.env
.env.local
.env.*.local

# Editor folders
.vscode/
.idea/

# Yarn
yarn.lock

# Coverage reports
coverage/
