.loginButton {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  font-size: 1.1rem;
  color: #f3c623;
  cursor: pointer;
  padding: 0.5rem;
  text-decoration: none;

  &:hover {
    color: #66b2ff;
  }
}
