.cartIcon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  position: relative;
  font-size: 1.25rem;
  color: #f3c623;
  padding: 0.5rem;
  cursor: pointer;

  &:hover {
    color: #66b2ff;
  }
}

.badge {
  position: absolute;
  top: -4px;
  right: -6px;
  background: #b01616;
  color: white;
  font-size: 0.65rem;
  font-weight: bold;
  padding: 2px 6px;
  border-radius: 50%;
}
